
<section ng-controller="Navigation">

	 <a class="back" ng-hide="panel==0" ng-click="panel=0">
	 	<span class="icon-arrow-left"></span>
	 </a>


	 <section class="panel panel-padding" ng-hide="panel==1" ng-class="{center:panel==0, left:panel>0}">

		<p>Welcome bei indoor Navigation de</p>

		<form ng-submit="search()" >
			
			<div class="form-group">
				
				<input type="text"  name="room" id="room" class="typeahead " autocomplete="off"  placeholder="Ihre Ziel suchen" sf-typeahead options="exampleOptions" datasets="roomsDataset" ng-model="selectedRoom"/>
				<br/>
				<br/>
				<input type="submit" class="submit" value="Suchen" />
				
			</div>

		</form>

	 </section>

	<section class="panel panel-padding right kora"  ng-hide="panel==0" ng-class="{center:panel==1, right:panel<1}">
			
			<object type="image/svg+xml" data="pages/map1.svg" id="svgMap" class="map svg">no svg</object>
			<!-- the marker -->
			<div class="pin bounce"></div>
			<div class="pulse"></div>

	</section>

</section>
